*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: #333;
    margin: 0;
}

.cards {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px
}

.singlecard {
    height: 100px;
    background: #111111;
    border: 5px solid #444444;
    cursor: pointer;
}